#LongViewTile {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#LongViewTile QPushButton {
    background-color: transparent;
    border: none;
}

#LongViewTile QCheckBox {
    background-color: transparent;
}
